* {
  box-sizing: border-box;
}
:root {
  --font-color: #333333;
  --font-blue: blue;
  --font-style-ibm: "IBM Plex Mono", monospace;
  --font-style: Helvetica;
  --section-margin: 5% 5% 0 5%;
}
html {
  font-family: var(--font-style-ibm);
}

body {
  margin: 0;
  height: 100%;
  /* overflow: hidden; */
}

.desc-wrapper {
  display: inline-block;
  overflow: hidden;
}

.desc-container {
  position: fixed;
  z-index: 1;

}

.nav-desc {
  transform: translateY(20px);
}
.nav-list {
  list-style: none;
  font-size: 1.15rem;
  display: flex;
  align-items: end;
  flex-direction: column-reverse;
  color: var(--font-blue);
}
.nav-numbers {
  font-size: 5rem;
  font-weight: bold;
  margin-bottom: 10px;
  font-family: var(--font-style);
}

.nav-wrapper {
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0 10% 0 10%;
  overflow: hidden;
}

.nav-word {
  cursor: pointer;
  margin: 0;
  padding: 0;
  
}
.main {
  position: relative;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: scale(0.85, 0.85);
}

.dots {
  width: 100%;
  height: 100%;
  background-image: radial-gradient(#b7b7b7 6%, transparent 2%);
  background-size: 10px 10px;
  background-repeat: repeat;
  position: absolute;
  z-index: -5;
}

/*
About Section
*/
/* .section-wrapper {
  overflow: hidden;
} */
.section-title {
  font-size: 3.15rem;
  font-weight: 400;
  color: var(--font-blue);
  border: 1px solid var(--font-blue);
  display: inline-block;
  border-radius: 5px;
  padding: 5px;
}

section {
  padding: var(--section-margin);
  margin: 0 auto;
  height: 100vh;
}

.description-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
}

a:visited {
  text-decoration: none;
  color: var(--font-blue);
}

.social-media {
  display: flex;
  padding: 0;
  font-size: 1.2rem;
}
.links {
  text-decoration: underline;
  color: var(--font-blue);
  padding-right: 40px;
  cursor: pointer;
  font-weight: bold;
}

.intro {
  display: grid;
  grid-template-columns: 150px 1fr;
}

.intro-desc {
  display: block;
  padding: 0;
  font-weight: bold;
}


.img-container {
  height: 0px;
  width: 250px;
  overflow: hidden;
  display: inline-block;
}

.portrait {
  display: block;
  margin: 0 auto;
}

/*
SKILLS
*/
section.skills {
  width: 100%;
  height: 100vh;
}

/*
PROJECTS
*/

section.projects {
  height: 100vh;
  width: 100%;
}


/*
ARCHIVES
*/

